@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #F0E08F;
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	line-height: 1.5em;
	margin: 2em;
}

h2 {
	color: #4C94F0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-decoration: underline;
}
h3 {
	font-style: italic;
	font-size: 18px;
}
